
// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$lightGrey: #9DA4B2;
$blue: #2F72E2;
$dangerRed: #EF494F;
$borderColor: #e1e1e1;


// Common
.ta-center {
    text-align: center;
}


// The page component
.page-menu {
    display: flex;
    align-items: center;
    // gap: 10px;
    padding: 20px;
    justify-content: center;
    position: relative;
}

.page {
    position: relative;
    font-family: 'Inter';
    font-size: 13px;
    color: #697287;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;

    button {
        background: none;
        border: none;
        z-index: 20;
        cursor: pointer;
    }
    svg {
        margin-right: 0.25em;
    }
    svg.ellipses-svg {
        margin-left: 1em;
    }
    &.active {
        background-color: #fff;
        border: 1px solid $borderColor;
        color: #1a1a1a;
        opacity: 1;
    }
    &:hover {
        background-color: #d6d6d6;
        z-index: 2;
    }
}
.page::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $lightGrey;
    opacity: 0.15;
    z-index: 0;
}
.page.active::before {
    background-color: #fff;
}


// Dashed line
.dashed-line {
    border-top: 1.5px dashed #C0C0C0;
    width: 24%;
    position: absolute;
    z-index: 0;
    top: 50%;
}


// Add menu
.gap-between-pages {
    height: 25px;
    width: 20px;
    pointer-events: auto;
    transition: width 0.3s ease;

    button {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid $borderColor;
        opacity: 1;
        position: relative;
        z-index: 4;
        cursor: pointer;
        display: none;
    }
    &.expand {
        width: 50px;
        text-align: center;
        align-content: center;
        transition: width 0.3s ease;

        button {
            display: block;
            margin: 0px auto;
        }
    }
}


/* Context menu */
.context-menu {
    width: fit-content;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    display: none;

    h4 {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        padding-top: 0.75em;
        padding-bottom: 0.55em;
        padding-left: 1em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    &.open {
        display: block;
    }
}


$contextHighlight: #FAFBFC;

.context-header {
    background-color: $contextHighlight;
    border-radius: 10px;
    padding-right: 7em;
    margin-bottom: 0.30em;
}
.settings-list {
    font-family: 'Inter';
    font-size: 13px;
    list-style-type: none;
    padding-top: 0.25em;
    padding-left: 0em;
    margin-top: 0em;
    margin-bottom: 0em;

    li {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        padding-top: 0.37em;
        padding-bottom: 0.37em;
        padding-left: 1em;

        svg {
            padding-right: 0.5em;
        }
        &:hover {
            background-color: $contextHighlight;
        }
        &:last-child {
            border-top: 1px solid #e1e1e1;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top: 1em;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .delete-label {
        color: $dangerRed;
    }
}


/* Modal */
.modal {
    width: fit-content;
    border: 1px solid $borderColor;
    border-radius: 10px;
    padding: 2em;
    padding-top: 1em;
    margin-top: 1em;
    display: none;

    h5 {
        font-family: 'Inter';
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    img {
        height: 15px;
        width: 15px;
        cursor: pointer;
        float: right;
        margin-right: -1em;
    }
    input {
        padding: 0.5em 1em;
        border: 1px solid $borderColor;
        border-radius: 4px;
    }
    button {
        color: #fff;
        background-color: $blue;
        font-family: 'Inter';
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 0.5em 1.5em;
        margin-top: 0.5em;
    }

    &.open {
        display: block;
        background-color: #fff;
        margin: 0px auto;
        position: relative;
        top: 20%;
    }
    &.close {
        display: none;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}
