
// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// The page component
.page-menu {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.page {
    font-family: 'Inter';
    font-size: 14px;
    color: #697287;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: move;
    user-select: none;
    text-align: center;
    background-color: rgba(157, 164, 178, 0.15);
    z-index: 2;

    &.active {
        background-color: #fff;
        border: 1px solid #e1e1e1;
        color: #1a1a1a;
        opacity: 1;
    }
    &:hover {
        background-color: #9DA4B2;
        z-index: 2;
    }
}


// Dashed line
.page-track {
    position: relative;
    display: flex;
    gap: 20px;
}

.page-track::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    width: 100%;
    border-top: 2px dashed #999;
}